@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}

.no-scrollbar::-webkit-scrollbar{
    display: none;
}

@layer base{
    .mask-vertical-sm{
        mask-image: linear-gradient(to bottom,transparent 0%, rgba(0, 0, 0, 0.9) 10%,rgba(0, 0, 0, 0.8) 30%,rgba(0, 0, 0, 0.8) 70%,rgba(0, 0, 0, 0.9) 90%, transparent 100%);
    }
}